<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content blue">
        <div class="modal-header" style="padding: 40px 40px 10px 60px;">
            <h1 class="modal-title" style="font-size: 38px;">
                DEPOSIT TOKENS
                <div class="note">There is a 1% fee on deposits and withdrawals.<br />Ethereum and Binance Smart Chain deposits have no deposit fees.</div>
            </h1>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">X</span>
			</button>
        </div>

        <div class="modal-body">
            <div class="note" style="text-align: left; margin-bottom: 20px;">
                Choose which token you would like to deposit below. For more information about depositing or withdrawing external tokens to Hive Engine please <a href="/?p=faq" target="_blank">see the FAQ</a>.
            </div>

            <label>DEPOSIT TOKEN</label>
            <div class="input-group">
                <select id="deposit_token">
                    <% Config.PEGGED_TOKENS.forEach(token => { %>
                    <option value="<%= token.symbol %>"><%= token.name %> (<%= token.symbol %>)</option>
                    <% }); %>
                </select>
            </div>
            <div id="deposit_warning" class="alert alert-warning" style="display: none; margin-top: 10px;"></div>
        </div>

        <div class="modal-footer" style="padding-bottom: 0;">
            <button id="btnBuy" type="button" class="btn btn-primary btn-lg w-100" onclick="getDepositInfoClick()">GET DEPOSIT INFO</button>
        </div>

        <div class="privex">
            <a href="https://pay.privex.io/order/?r=steem-engine" target="_blank">
                <img src="https://www.privex.io/static/assets/svg/privex_ctc_api_light.svg" />
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if (!SE.Settings.eth_bridge || !SE.Settings.bsc_bridge)
            SE.fetchSettings();

        $("#deposit_token").on("change", function () {
            var tokenSymbol = $('#deposit_token').val();
            
            var disabledToken = SE.Settings.disabled_deposits.find(x => x.symbol == tokenSymbol);
            if (disabledToken) {
                $("#btnBuy").hide();
                $("#deposit_warning").text(disabledToken.reason);
                $("#deposit_warning").show();
            } else {
                $("#deposit_warning").hide();
                $("#btnBuy").show();
            }
        })
    });

    async function getDepositInfoClick() {
        let selectedTokenVal = $('#deposit_token').val();

        if (selectedTokenVal == 'HIVE') {
            SE.ShowDialog('deposit_steem');
            return;
        }

        SE.ShowLoading();

        if (selectedTokenVal === 'ETH' || selectedTokenVal == 'ERC20') {
            if (window.ethereum && window.Web3) {
                SE.web3 = new window.Web3(window.ethereum);
                const chainId = await window.ethereum.request({ method: 'net_version' })

                if (Number(chainId) !== Config.ETH_CHAIN_ID) {
                    SE.ShowToast(false, `Please make sure Metamask network is set to the correct chain (ETH).`);
                    SE.HideLoading();
                } else {
                    try {
                        await window.ethereum.request({ method: 'eth_requestAccounts' })
                    } catch (e) {
                        console.log(e)
                    }

                    SE.fetchEthAddress((err, result) => {
                        showEthDeposit(err, result, selectedTokenVal);
                    });
                }                
            }
            
        } else if (selectedTokenVal === 'BNB' || selectedTokenVal == 'BEP20') {
            if (window.ethereum && window.Web3) {
                SE.web3 = new window.Web3(window.ethereum);

                const chainId = await window.ethereum.request({ method: 'net_version' })

                if (Number(chainId) !== Config.BSC_CHAIN_ID) {
                    SE.ShowToast(false, `Please make sure Metamask network is set to the correct chain (BSC).`);
                    SE.HideLoading();
                } else {
                    try {
                        await window.ethereum.request({ method: 'eth_requestAccounts' })
                    } catch (e) {
                        console.log(e)
                    }

                    SE.fetchBscAddress((err, result) => {
                        showBscDeposit(err, result, selectedTokenVal);
                    });
                }
            }            
        } else {

            SE.GetDepositAddress($('#deposit_token').val(), result => {
                SE.HideLoading();

                if (result && result.address) {
                    SE.ShowDialog('deposit_info', result);
                    return;
                }

                if (result && result.memo) {
                    SE.ShowDialog('deposit_info', result);
                    return;
                }
            });
        }
    }

    if ('<%= data && data.symbol ? data.symbol : "" %>' != '')
        $('#deposit_token').val('<%= data && data.symbol ? data.symbol : "" %>');

    async function showEthDeposit(err, result, selectedTokenVal) {
        let model = { balance: 0, ethereumAddress: "" };
        if (result && result.status == "success" && result.data.ethereumAddress) {
            model.ethereumAddress = result.data.ethereumAddress;

            if (result.data.ethereumAddress.length === 42) {
                let wei = await window.ethereum.request({ method: 'eth_getBalance', params: [model.ethereumAddress] });
                //await SE.Web3.eth.getBalance(result.data.ethereumAddress);
                let legacyWeb3 = new Web3(window.web3.currentProvider);
                model.balance = legacyWeb3.utils.fromWei(wei);
            }
        }
        if (selectedTokenVal == 'ETH')
            SE.ShowDialog('deposit_eth', model);
        else if (selectedTokenVal == 'ERC20')
            SE.ShowDialog('deposit_erc20', model);

        SE.HideLoading();
    }

    async function showBscDeposit(err, result, selectedTokenVal) {
        let model = { balance: 0, bscAddress: "" };
        if (result && result.status == "success" && result.data.bscAddress) {
            model.bscAddress = result.data.bscAddress;

            if (result.data.bscAddress.length === 42) {
                let wei = await window.ethereum.request({ method: 'eth_getBalance', params: [model.bscAddress] });
                //await SE.Web3.eth.getBalance(result.data.ethereumAddress);
                let legacyWeb3 = new Web3(window.web3.currentProvider);
                model.balance = legacyWeb3.utils.fromWei(wei);
            }
        }
        if (selectedTokenVal == 'BNB')
            SE.ShowDialog('deposit_bnb', model);
        else if (selectedTokenVal == 'BEP20')
            SE.ShowDialog('deposit_bep20', model);

        SE.HideLoading();
    }
</script>