
<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content blue">
        <div class="modal-header" style="padding: 40px 40px 10px 60px;">
            <h1 class="modal-title" style="font-size: 38px;">
                DEPOSIT <span id="tokenName">ERC20</span>
                <div class="note">There is a 1% fee on deposits and withdrawals.<br />Ethereum deposits have no deposit fees.<br />If you've added/updated your ETH address, it may take a while your balance is updated. Please revisit this page or refresh.</div>
            </h1>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">X</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="note" style="text-align: left; margin-bottom: 20px;">

            </div>

            <label>Your ETH Address</label>
            <div class="input-group justify-content-center align-items-center" id="ethAddrDiv">
                <input type="text" id="deposit_eth_address" value="<%= data && data.ethereumAddress ? data.ethereumAddress : '' %>" />
                <button id="fetchEthAddr" class="btn btn-info"><i class="fas fa-sync"></i></button>
                <button id="addUpdateEthAddr" class="btn btn-primary">Add/Update</button>
                <div class="invalid-tooltip">
                    Please enter an ETH address
                </div>
            </div>


            <label class="mb-0">Current ETH Balance</label>
            <p class="mb-4" id="eth_balance">
                <%= data && data.balance ? data.balance : 0 %>
            </p>

            <label>ERC20 Token </label>
            <div class="input-group" id="erc20AddrDiv">
                <select name="erc20Token" id="erc20Token"></select>
            </div>
            <br />
            <label class="mb-0">Current ERC20 Balance</label>
            <p class="mb-4" id="erc20_balance">0.00</p>

            <label>DEPOSIT AMOUNT</label>
            <div class="input-group justify-content-center align-items-center">
                <input type="text" placeholder="0.000" id="deposit_amount">
                <div class="input-group-append" id="erc20append">
                    ETH
                </div>
                <div class="invalid-tooltip">
                    Please enter a valid amount
                </div>
            </div>
        </div>

        <div class="modal-footer" style="padding-bottom: 0;">
            <button id="btnDepositEth" type="button" class="btn btn-primary btn-lg w-100" aria-label="Deposit">Deposit Now</button>
        </div>

        <div class="privex">
            <a href="https://pay.privex.io/order/?r=steem-engine" target="_blank">
                <img src="https://www.privex.io/static/assets/svg/privex_ctc_api_light.svg" />
            </a>
        </div>
    </div>
</div>

<script>
    $("#fetchEthAddr").on("click", fetchEthAddr);
    $("#addUpdateEthAddr").on("click", addUpdateEthAddr);
    $("#ethAddrDiv .invalid-tooltip").on("click", function () { $('#deposit_eth_address').removeClass("is-invalid"); });
    $("#btnDepositEth").on("click", depositEth);
    $("#erc20Token").on("change", erc20TokenSelected);

    $(document).ready(function () {
        SE.fetchSupportedERC20s(true, false, (err, result) => {                 
            $("#erc20Token").find("option").remove();

            $("#erc20Token").append('<option value="">Please select a token</option>');
            for (let i = 0; i < result.length; i++) {
                $("#erc20Token").append('<option value="' + result[i].symbol + '">' + result[i].symbol + '</option>');
            }
        });

    })

    function fetchEthAddr() {
        SE.ShowLoading();
        SE.fetchEthAddress((err, result) => {
            processFetchEth(err, result);
        });
    }

    

    async function processFetchEth(err, result) {
        if (result && result.status == "success" && result.data.ethereumAddress) {
            if (result.data.ethereumAddress.length === 42) {
                let wei = await window.ethereum.request({ method: 'eth_getBalance', params: [result.data.ethereumAddress] });
                
                let legacyWeb3 = new Web3(window.web3.currentProvider);
                result.balance = legacyWeb3.utils.fromWei(wei);
                $("#eth_balance").text(result.balance);

                $('#deposit_eth_address').removeClass("is-invalid");
            }
        }

        if ((!result && err) || result.data.ethereumAddress == '') {
            $('#deposit_eth_address').addClass("is-invalid");
        }        

        SE.HideLoading();
    }

    async function erc20TokenSelected() {
        let symbol = $("#erc20Token").val();
        let addr = $('#deposit_eth_address').val();
        let contract = SE.ERC20Tokens.find(t => t.symbol === symbol).contract_address                
        const balance = await SE.getERC20Balance(contract, addr); 
        $("#erc20_balance").text(balance);
        $("#erc20append").text(symbol);
    }

    function addUpdateEthAddr() {
        let addr = $('#deposit_eth_address').val();
        if (addr == "") {
            $('#deposit_eth_address').addClass("is-invalid");
        } else {
            //SE.ShowLoading();
            SE.addUpdateEthAddress(addr.toLowerCase(), (err, result) => {
                
            });
        }        
    }

    async function sleep(msec) {
        return new Promise(resolve => setTimeout(resolve, msec));
    }

    async function depositEth() {
        SE.ShowLoading();
        let amount = $("#deposit_amount").val();
        let addr = $('#deposit_eth_address').val();
        let balance = $("#erc20_balance").text();
        let symbol = $("#erc20Token").val();
        
        if (isNaN(amount) || amount == 0 || amount < 0.001) {
            $('#deposit_amount').addClass("is-invalid");
            SE.HideLoading();
        } else if (addr == "") {
            $('#deposit_eth_address').addClass("is-invalid");
            SE.HideLoading();
        } else {
            let knownAddr = "";
            knownAddr = await new Promise((resolve, reject) => {
                SE.fetchEthAddress((err, result) => {                    
                    if (result && result.status == "success") {
                        resolve(result.data.ethereumAddress);
                    } else {
                        resolve("");
                    }
                });
            });

            if (addr.toLowerCase() != knownAddr) {
                let addUpdateRes = await new Promise((resolve, reject) => {
                    SE.addUpdateEthAddress(addr.toLowerCase(), (err, result) => {
                        resolve(result);
                    });
                });
                console.log(addUpdateRes);

                if (addUpdateRes) {
                    SE.ShowToast(true, 'Your ETH address needs to be verified. Please wait.');
                    let maxTries = 20;
                    let currentIteration = 0;
                    let storedAddress = "";
                    while (addr.toLowerCase() != storedAddress && currentIteration < maxTries) {
                        storedAddress = await new Promise((resolve, reject) => {
                            SE.fetchEthAddress((err, result) => {
                                if (result && result.status == "success") {
                                    resolve(result.data.ethereumAddress);
                                } else {
                                    resolve("");
                                }
                            });
                        });
                        if (currentIteration == 3) {
                            SE.ShowToast(true, 'Please wait until your ETH address is processed successfully.');
                        }

                        console.log("Stored address: " + storedAddress);
                        if (currentIteration == 7) {
                            SE.ShowToast(true, 'Verifying your ETH address. Please wait.');
                        }

                        if (addr.toLowerCase() != storedAddress)
                            await sleep(5000);

                        currentIteration++;
                    }

                    if (addr.toLowerCase() == storedAddress) {
                        SE.depositERC20(addr.toLowerCase(), amount, symbol);
                        SE.HideLoading();
                    } else {
                        SE.ShowToast(false, 'Error occured while trying to deposit to your eth address.');
                        SE.HideLoading();
                    }
                } else {
                    SE.HideLoading();
                }
            } else if (addr.toLowerCase() == knownAddr) {
                SE.depositERC20(addr.toLowerCase(), amount, symbol);
                SE.HideLoading();
            } else {
                SE.ShowToast(false, 'Error occured while matching your eth address.');
                SE.HideLoading();
            }            
        }
    }
</script>

